[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
selenium = "*"
requests = "*"
beautifulsoup4 = "*"
pandas = "*"
scipy = "*"
empiricaldist = "*"
matplotlib = "*"
brotli = "*"

[dev-packages]
snakeviz = "*"
flake8 = "*"

[requires]
python_version = "3.12"
