<router-outlet />
<div class="p-2">
  <hr class="mt-2" />
  <p class="mt-4 text-center">
    <a class="text-blue-500" routerLink="/megamillions-stats" routerLinkActive="true" target="_blank"
      >Mega Millions stats analysis</a
    >
  </p>
  <p class="mt-2 mb-2 text-center">
    <a class="text-blue-500" routerLink="/powerball-stats" routerLinkActive="true" target="_blank"
      >Powerball stats analysis</a
    >
  </p>
  <p class="mt-2 text-center">
    <a class="text-blue-500" routerLink="/rng" routerLinkActive="true" target="_blank"
      >Random number generator (Mega Millions and Powerball)</a
    >
  </p>
  <p class="mt-2 text-center">
    <a class="text-blue-500" href="https://github.com/jbaranski/jeffs-lottery-utils" target="_blank"
      >Raw datasets and source code for this site</a
    >
  </p>
</div>
